#rootVBox{
	-fx-padding: 0px 100px 0px 100px;
}
#noteHBox{
	-fx-spacing: 10px;
}

.toggle-button{
	-fx-pref-width: 50px;
}
.radio-button {
	-fx-pref-width: 150px;
  -fx-background-radius: 5px;
  -fx-font-size: 11;
  -fx-padding: 10px;
  -fx-text-fill: white;
}

.radio-button:selected {
  -fx-background-color: green;
  -fx-text-fill: white;
}

.radio-button .dot {


}

.radio-button .radio {


}